@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Montserrat:wght@400&display=swap');

#title{
    font-family:"Changa One";
    font-size:3em;
}

#selectDate{
    font-family:"Montserrat", Helvetica, sans-serif;
    font-size:1.25em;
}

#question,#reminderItem{
    font-family:"Montserrat", Helvetica, sans-serif;
}

#submitButton,#resetButton,#countDownButton{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px; 

}

#month,#date,#year {
    padding: 1rem;
	border-radius: 5px;
	list-style: none;
}
